<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>Button</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Full documentation regarding the buttons is available on <a href="http://bootswatch.com/paper/#buttons">bootswatch</a></p><br/><br/>
    </div>
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" ng-click="$ctrl.buttonClicked()" value="My Button" />
    </div>
</div>