body{
    font-size:16px;
}
.navbar{
    border-radius: 0px;
}
.hover-pointer{
    cursor: pointer;
}
.modal-dialog{
    width: 1000px;
}
.modal-code{
    height: 400px;
}
.navbar-nav>li>a.gitHub-nav{
    padding-top: 10.5px;
}
