<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>navbar</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Full documentation regarding the navbar element is available on <a href="http://bootswatch.com/paper/#navbar">bootswatch</a></p><br/><br/>
    </div>
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="link in $ctrl.links">
                            <a href="{{link.href}}">{{link.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>