<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>Timepicker</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Full documentation regarding the timepicker input is available on <a href="https://angular-ui.github.io/bootstrap/#/timepicker">UI Bootstrap</a></p>
        <br/>
        <br/>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-lg-2 control-label">Time Picker: </label>
            <div class="col-lg-10">
                <uib-timepicker ng-model="$ctrl.selectedTime" ng-change="$ctrl.onChange()" ></uib-timepicker>
            </div>
        </div>
    </div>
</div>