<style type="text/css">
    li.tree-item {
        list-style-type: none;
    }
    
    .clickable {
        cursor: pointer;
        width: 20px;
    }
    
    .hide {
        display: hidden;
    }
</style>
<script type="text/ng-template" id="tree_item_renderer.html">
    <i ng-click="$ctrl.toggle(data)" class="fa clickable {{(data.nodes.length > 0 && !data.closed)? 'fa-arrow-down' : ''}} {{(data.nodes.length > 0 && data.closed)? 'fa-arrow-right' : ''}}"
        aria-hidden="true"></i>
    <i class="fa fa-{{data.selected ? 'check-square' : 'square'}}-o clickable" ng-click="$ctrl.toggleSelectNode(data)"></i>
    <i class="fa {{$ctrl.getIcon(data)}}"></i> {{data.name}}
    <ul class="{{data.closed == true ? 'hide' : ''}}">
        <li class="tree-item" ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>
<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>Tree With Selection</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="checkbox col-md-2">
        <label>
        <input type="checkbox" ng-model="$ctrl.allowMultiSelect"> Multiselect
    </label>
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <li class="tree-item" ng-repeat="data in $ctrl.tree" ng-include="'tree_item_renderer.html'"></li>
    </div>
</div>