<div class="row" id="line-chart-info">
    <div class="col-md-10">
        <h2>Line Chart</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Make sure you add a script tag reference to <code>https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js</code></p>
        <p>Full documentation regarding the line charts is available on <a href="http://www.chartjs.org/docs/#line-chart">Chart.js</a></p>
        <div class="col-md-2 pull-right"><input type="button" class="btn default-btn" value="Update Data" ng-click="$ctrl.updateData()"></div>
        <br/>
        <br/>
    </div>
    <div class="col-md-12">
        <canvas id="line-chart" width="400" height="200"></canvas> 
    </div>
</div>