<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>Basic Table w Search</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Full documentation regarding tables is available on <a href="http://bootswatch.com/paper/#tables">bootswatch</a></p>
        <br/>
        <br/>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-lg-2 control-label">Search:</label>
            <div class="col-lg-10">
                <input type="text" ng-model-options="{debounce: { 'default': 200, 'blur': 0 } }" ng-model="$ctrl.searchValue" ng-change="$ctrl.search($ctrl.searchValue)"/>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Instrument</th>
                    <th>Picture</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in $ctrl.records">
                    <td>{{record.firstName}}</td>
                    <td>{{record.lastName}}</td>
                    <td>{{record.instrument}}</td>
                    <td><img src="{{record.imgSrc}}" width="50" height="50" /></td>
                    <td>
                        <h5><i class="fa fa-pencil hover-pointer" aria-hidden="true" ng-click="$ctrl.editRecord(record)"></i></h5></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>