<script type="text/html" id="modalContent">
    <div class="modal-header">
        <h3 class="modal-title">Hello World</h3>
    </div>
    <div class="modal-body">
        <h4>Are you sure you want to save the record?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>Modal Popup</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Full documentation regarding modal is available on <a href="https://angular-ui.github.io/bootstrap/#/modal">UI Bootstrap</a></p>
        <br/>
        <br/>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-lg-10">
                <input type="button" class="btn btn-primary" value="Open Modal" ng-click="$ctrl.openModal()" />
            </div>
        </div>
    </div>
</div>