<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>Checkbox</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Full documentation regarding the input is available on <a href="http://bootswatch.com/paper/#forms">bootswatch</a></p>
        <br/>
        <br/>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-lg-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.checkboxValue" ng-change="$ctrl.onChange()"> My Checkbox
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>