<div class="row" id="basic-table">
    <div class="col-md-10">
        <h2>Advanced Table with Search and Sorting</h2>
    </div>
    <div class="col-md-2">
        <h2><i class="fa fa-code hover-pointer" aria-hidden="true" ng-click="$ctrl.showCode()"></i></h2>
    </div>
    <div class="col-md-12">
        <p>Full documentation regarding tables is available on <a href="http://bootswatch.com/paper/#tables">bootswatch</a></p><br/><br/>
    </div>
    
    <div class="col-md-12">
        <style>
            .sortable tr {
                cursor: pointer;
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">Search</label>
                    <input type="text" ng-model="$ctrl.searchValue" ng-model-options="{debounce: { 'default': 200, 'blur': 0 }}" placeholder="Search Here..." />
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover sortable">
            <thead>
                <tr>
                    <th ng-click="$ctrl.orderByKey='firstName'; $ctrl.reverse = !$ctrl.reverse">
                        First Name
                        <span ng-show="$ctrl.orderByKey == 'firstName'"><i class="fa fa-sort-asc" aria-hidden="true" ng-show="!$ctrl.reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="$ctrl.reverse"></i></span>
                    </th>
                    <th ng-click="$ctrl.orderByKey='lastName'; $ctrl.reverse = !$ctrl.reverse">
                        Last Name
                        <span ng-show="$ctrl.orderByKey == 'lastName'"><i class="fa fa-sort-asc" aria-hidden="true" ng-show="!$ctrl.reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="$ctrl.reverse"></i></span>
                    </th>
                    <th ng-click="$ctrl.orderByKey='instrument'; $ctrl.reverse = !$ctrl.reverse">
                        Instrument
                        <span ng-show="$ctrl.orderByKey == 'instrument'"><i class="fa fa-sort-asc" aria-hidden="true" ng-show="!$ctrl.reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="$ctrl.reverse"></i></span>
                    </th>
                    <th ng-click="$ctrl.orderByKey='membershipStartYear'; $ctrl.reverse = !$ctrl.reverse">
                        Start Year
                        <span ng-show="$ctrl.orderByKey == 'membershipStartYear'"><i class="fa fa-sort-asc" aria-hidden="true" ng-show="!$ctrl.reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="$ctrl.reverse"></i></span>
                    </th>
                    <th ng-click="$ctrl.orderByKey='membershipEndYear'; $ctrl.reverse = !$ctrl.reverse">
                        End Year
                        <span ng-show="$ctrl.orderByKey == 'membershipEndYear'"><i class="fa fa-sort-asc" aria-hidden="true" ng-show="!$ctrl.reverse"></i><i class="fa fa-sort-desc" aria-hidden="true" ng-show="$ctrl.reverse"></i></span>
                    </th>
                    <th>Picture</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in $ctrl.records | filter: $ctrl.searchValue | orderBy: $ctrl.orderByKey: $ctrl.reverse">
                    <td>{{record.firstName}}</td>
                    <td>{{record.lastName}}</td>
                    <td>{{record.instrument}}</td>
                    <td>{{record.membershipStartYear | date: 'yyyy'}}</td>
                    <td>{{record.membershipEndYear | date: 'yyyy'}}</td>
                    <td><img src="{{record.imgSrc}}" width="50" height="50" /></td>
                    <td><h5><i class="fa fa-pencil hover-pointer" aria-hidden="true" ng-click="$ctrl.editRecord(record)"></i></h5></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
